body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    --padding : 10px;
    --padding-slight : 5px;

}

div {
    /* background-color: rgba(128, 128, 128, 0.26); */
    /* border: black 1px solid; */
    border-radius: 3px;
    box-shadow: gray 1px;
}


.hidden{
    display: none   ;
}

.shadowBox{
    box-shadow:  0 2px 3px rgb(169, 169, 169);
}