
#searchBarContainer{
    /*background: black;*/
    /*opacity: 0.6;*/

    /*position: fixed;*/
    /*bottom: 0;*/
    /*left:0;*/

    width: 100%;
    /*box-shadow:  0 2px 3px rgb(169, 169, 169);*/
    /*border-radius: 10px;*/

    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBarInput{
    width: 80%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 60px;
    height: 40px;
    border: 1px solid gray;

}
#searchButton{
    position: relative;
    right: 50px;
    width: 25px;
    height : 25px;
    background: url("../resources/img-icon-search.svg") no-repeat;

}