div#weatherContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: #8ab4e5;
    min-height: 50px;
    align-items: center;
    font-weight: bold;
    cursor:pointer;
    width: 100%;
    background-color:transparent;
    transition:0.5s;
    transition-timing-function: linear;
}

div#weatherContainer:hover{
    background-color: #8ab5e5;
  }

div#weatherIconTemp{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    height: 50px;
    align-items: center;
    font-weight: bold;
    /* border: yellow 5px solid; */
}

div#weathericon{
    width: 45px;
    height: 45px;
    background-size: 90%;
    background-position: bottom;
    align-self: center;
    border-radius: 50%;
    
}

div.weatherpanel{
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border-radius:4px;
    overflow:hidden;
    opacity:0;
    max-height:0;
    /* transition:0.5s;
    transition-timing-function: ease-in-out; */
    padding:0 8px;
    margin:0;
    width: 98%;
    display: flex;
    align-items: center;
}
  
div.weatherpanel.show{
    opacity:1;
    height: 100px;
    max-height:500px;
    padding:8px;
    margin:2px 0 4px;
    transition: 1s;
    display: flex;
    justify-content: space-around;
}

div.weatherpanel>div{
    width: 130px;
    height: 45px;
    /* border: #808080 2px solid; */
    background-image: url(../resources/wind1.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position: 5px;
    padding-left: 55px;
    display: flex;
    align-items: center;
}

div#feelslike{
    background-image: url(../resources/feelslike1.png);
}

div#precipitation{
    background-image: url(../resources/rainfall1.png);
}


div#humidity{
    background-image: url(../resources/humidity1.png);
}