div.dropcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: #8ab4e5;
    min-height: 50px;
    align-items: center;
    font-weight: bold;
    cursor:pointer;
    /* width: 100%; */
    background-color:transparent;
    transition:0.5s;
    transition-timing-function: linear;
    margin: 5px;
    background-image: url(../resources/downarrowX2.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 5% 14px;
    box-shadow:  0 2px 3px rgb(169, 169, 169);
    margin: 5px;
}

div.dropcontainer:hover{
    background-color: #8ab5e5;
  }

div#weatherIconTemp{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    height: 50px;
    align-items: center;
    font-weight: bold;
    /* border: yellow 5px solid; */
}

div#weathericon{
    width: 45px;
    height: 45px;
    background-size: 80%;
    /* background-position: bottom; */
    /* align-self: center; */
    border-radius: 50%;
    /* background-repeat: no-repeat; */
    background-position: 4px;

}

.credits{
    font-size: 12px;
    display: flex;
    position: absolute;
    align-self: flex-end;
    text-align: right;
    color:  #8ab5e5;
}

div#credits>div{
    margin: 0 5px;
}

div.weatherpanel{
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border-radius:4px;
    overflow:hidden;
    opacity:0;
    max-height:0;
    /* transition:0.5s;
    transition-timing-function: ease-in-out; */
    padding:0 8px;
    margin:0;
    width: 96%;
    display: flex;
    align-items: center;
}
  
div.weatherpanel.show{
    opacity:1;
    height: 100px;
    max-height:500px;
    padding:8px;
    margin:2px 0 4px;
    transition: 1s;
    display: flex;
    justify-content: space-around;
}

div.weatherpanel>div{
    width: 130px;
    height: 45px;
    /* border: #808080 2px solid; */
    background-image: url(../resources/wind1.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position: 5px;
    padding-left: 55px;
    display: flex;
    align-items: center;
}

div#feelslike{
    background-image: url(../resources/feelslike1.png);
}

div#precipitation{
    background-image: url(../resources/rainfall1.png);
}


div#humidity{
    background-image: url(../resources/humidity1.png);
}

div.graphpanel{
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border-radius:4px;
    overflow:hidden;
    opacity:0;
    max-height:0;
    /* transition:0.5s;
    transition-timing-function: ease-in-out; */
    padding:0 8px;
    margin:0;
    width: 96%;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;

}
  
div.graphpanel.show{
    padding-top: 50px;
    opacity:1;
    height: 1000px;
    max-height:1000px;
    padding:8px;
    margin:2px 0 4px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.casegraph{
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-left: auto; */

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 8px solid #8ab4e5;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8ab4e5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
